.container {
  padding: 0;

  .navTools {
    display: flex;
    align-items: center;
  }

  .folderView {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 360px;
    gap: 12px;

    .fileOverview {
      flex: 1 1 auto;
    }

    .filePreview {
      width: 300px;
    }
  }
}
